<ion-header>
  <ion-toolbar>
    <ion-title>Agenda de Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Telefone" placeholder="Insira o telefone" type="number" [(ngModel)]="telefone"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
  </ion-list>
</ion-content>
