<ion-header>
  <ion-toolbar>
    <ion-title>
      AGENDA DE CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let contato of lista_contatos">
    <ion-item (click)="editar(contato)">
      <ion-label>{{contato.nome}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="irParaCadastrar()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
